RewriteEngine on
RewriteRule ^dashboard$ index.php
RewriteRule ^profile$ profile.php
RewriteRule ^personnes$ personnes.php
RewriteRule ^avenues$ avenues.php
RewriteRule ^quartier$ quartier.php
RewriteRule ^communes$ communes.php
RewriteRule ^villes$ villes.php